absl-py==2.1.0
asttokens==2.4.1
biopython==1.79
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coloredlogs==15.0.1
comm
cyvcf2==0.31.1
debugpy
decorator==5.1.1
executing
ipykernel
ipython
numpy
pandas
scikit-learn
tensorboard
tqdm
transformers
